* { 
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#box {
  text-align: center;
  position: relative;
  top: 200px;
  height: 400px;
  width: 400px;
  margin-left: 40%;
  font-family: 'Libre Baskerville', serif;
  font-size: 5rem;
  border: 20px solid #000;
  border-radius: 100px;
}

#clock { 
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  margin-top: 37%;
}